@import "https://unpkg.com/style.css/style.css";
@import "https://unpkg.com/css-tooltip";


body {
  padding: 1rem;
  overflow-x: hidden;
}

.split-screen {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.input, .output {
  width: 50%;
  border-radius: 4px;
}

table {
  overflow: visible;
}

textarea {
  padding: 1rem;
  height: 100vh !important;
}

.LM-ref span {
  font-size: 75%;
  color: black;
}

[data-tooltip]:before {
  font-size: 1rem;
  line-height: 1.25rem;
}