
@import "https://unpkg.com/tippy.js@6.3.7/dist/tippy.css";

:global(.LM-split-screen) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

:global(.LM-split-screen .LM-input), :global(.LM-split-screen .LM-output) {
  width: 50%;
  border-radius: 4px;
}

:global(.LM-output) {
  display: flex;
  flex-direction: column;
}

:global(.LM-table) {
  display: table;
  table-layout: fixed;
}

:global(.LM-table tr) {
  overflow-wrap: break-word;
}

:global(textarea.LM-input) {
  padding: 1rem;
  height: 100vh !important;
}

:global(.LM-dec) span {
  font-size: 75%;
  color: black;
}