@import "https://unpkg.com/style.css/style.css";
@import "https://unpkg.com/css-tooltip";

:global(.LM-split-screen) {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

:global(.LM-split-screen .LM-input), :global(.LM-split-screen .LM-output) {
  width: 50%;
  border-radius: 4px;
}

:global(.LM-output) {
  display: flex;
  flex-direction: column;
}

:global(.LM-table) {
  display: table;
  table-layout: fixed;
}

:global(.LM-table tr) {
  overflow-wrap: break-word;
}

textarea {
  padding: 1rem;
  height: 100vh !important;
}

:global(.LM-dec) span {
  font-size: 75%;
  color: black;
}

[data-tooltip]:before {
  font-size: 1rem;
  line-height: 1.25rem;
}

abbr[title] {
  position: relative;
  
  /* ensure consistent styling across browsers */
  text-decoration: underline dotted; 
}

abbr[title]:hover::after,
abbr[title]:focus::after {
  content: attr(title);
  
  /* position tooltip like the native one */
  position: absolute;
  left: 0;
  bottom: -30px;
  width: auto;
  white-space: nowrap;
  
  /* style tooltip */
  background-color: #1e1e1e;
  color: #fff;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
}